<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>S'inscrire</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<header class="my-4">
    <h5 class="fw-bold text-center">WebAuthn</h5>
</header>
<body>
<div class="container">
    <div class="row">
        <div class="col-xl-4 offset-xl-4">

            <div class="card bg-light mb-3">
                <div class="card-body text-center">

                    <h2 class="card-title fw-bold">S'inscrire</h2>
                    <span class="text-muted">Vous avez déjà un compte ?</span>
                    <p><a class="text-decoration-none" href="{{ path('login') }}"><b>Connectez-vous.</b></a></p>

                    <form class="form-register">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="displayName" name="displayName" placeholder="Nom d'utilisateur" required>
                            <label for="displayName">Nom d'utilisateur</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Adresse e-mail" required>
                            <label for="username">Adresse e-mail</label>
                        </div>
                        <button class="btn btn-lg btn-primary rounded-5 w-100" type="submit">S'inscrire</button>
                    </form>

                </div>
            </div>

            <div class="alert alert-danger d-none" role="alert"></div>

        </div>
    </div>
</div>
</body>
</html>